@verde: #1C6445;
@borda: #392518;
@fonte: #1F1613;

body{
  font-family: 'arial';
  color: @fonte;
}
p, a, span, td, li{
  color: @fonte;
}
h1, h2, h3, h4, h5{
  color: #301435;
}
img {
  max-width: 100%;
}
.capa{
  width: 120px;
}
.font-28{
  font-size: 28px;
}
.ocultar_per_page div#pagination{
  span.exibir,
  select#per_page{
    display: none;
  }
}
.maps iframe{
  pointer-events: none;
}
.conteudo{
  margin-top: 10px;
}
.conteudo .row {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.conteudo .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.btn-black{
  background-color: #1a1a1a;
  color: #f2f2f2;
  &:hover, &:focus{
    background-color: black;
    color: white;
  }
}

.btn-laranja{
  background-color: #FD9129;
  color: white;
  &:hover, &:focus{
    background-color: #EC8725;
    color: white;
  }
}

.btn-roxo{
  background-color: #301435;
  color: white;
  &:hover, &:focus{
    background-color: #200D23;
    color: white;
  }
}

.btn-cinza{
  background-color: #bcc4c0 !important;
  color: white !important;
  &:hover, &:focus{
    background-color: #949b98 !important;
    color: white !important;
  }
}


.btn-azul{
  background-color: #0088df !important;
  color: white !important;
    transition:0.5s;
  &:hover, &:focus{
    background-color: white !important;
    color: #0088df !important;
    border: 3px solid #0088df;
    -webkit-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    transition: color 0.5s linear;
    transition:0.5s;
  }
}



.btn-saiba-mais{
  background-color: white !important;
  color: #406FA3 !important;
  font-weight: 700;
  border: 3px solid #406FA3;
    transition:0.5s;
  &:hover, &:focus{
    background-color: #406FA3 !important;
    color: white !important;
    border: 3px solid lightgray;
    -webkit-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    transition: color 0.5s linear;
    transition:0.5s;
  }
}


.panel-laranja > .panel-heading {
  color: white;
  background-color: #EC8725;
  border-color: #EC8725;
}


.panel-roxo > .panel-heading {
  color: white;
  background-color: #301435;
  border-color: #301435;
}