div#home{
		background-color: #301435;
		h1{
			font-family: "TheGreatOutdoors";
		}
	div#topo{
		background-image: url("/topo.jpg");
		background-size: cover;
		padding: 5% 0;
		div.conteudo{
			padding: 30px 0;
			height: 500px;
			border-left: solid 1px white;
			margin-bottom: 15%;
			.faixa_branca{
				margin-top: 10%;
				background: rgba(48, 20, 53, 0.9);
				margin-left: -10%;
				h1{
					color: #f13278;
				}
			}
		}
		h1{
			margin: 0;
			color: #301435;
			font-size: 60px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	div#barra_rosa{
	}
	div#final{
		position: relative;
		background-image: url("/final.jpg");
		background-size: cover;
		padding-bottom: 30px;
		.formulario{
			padding-top: 30px;
			background: rgba(000, 000, 000, 0.3);
		}
		textarea.form-control{
			border: 0 solid;
			border-radius: 20px;
		}
		.form-control{
			border: 0 solid;
			border-radius: 20px;
		}
		label{
			color: white;
		}
		h1, h2, h3, h4, h5{
			color: white;
		}
		h1.titulo{
			padding-top: 108px;
			text-align: right;
			font-size: 60px;
		}
		h4{
			text-align: right;
			font-size: 30px;
		}
		h1.form{
			font-size: 60px;
		}
	}
	div#rodape{
		height: 75px;
		background-color: #301435;
		text-align: center;
		img{
			max-width: 75px;
			padding: 10px;
			opacity: 0.2;
		}
	}
}

@media only screen and (max-width : 1024px) { 
	div#topo{
		div.conteudo{
			padding: 30px 0;
			height: 500px;
			border-left: solid 1px white;
			margin-bottom: 15%;
			.faixa_branca{
				margin-top: 20%;
				background-color: rgba(255, 255, 255 , 0.8) !important;
				margin-left: -10%;

			}
		}
		h1{
			margin: 0;
			color: #301435;
			font-size: 30px !important;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	div#final{
		.formulario{
			padding-top: 30px;
			background: rgba(000, 000, 000, 0.0) !important;
		}
		img{
			display: none;
		}
		h1.titulo{
			padding-top: 0px !important;
			text-align: center !important;
		}
		h4{
			text-align: center !important;
		}
	}
}
