#footer{
    height:40px;
    padding-top: 10px;
    a{
    	text-decoration: none;
    }
}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  footer{
      display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  footer{
      display: none;
  }
}



footer{
p,a{
  color: white;
}

  background: #232323;

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  footer{
    font-size: 12px;
    .social{
      font-size: 22px;
    }
    img{
      max-height: 22px;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  header{
    background-size: 100% 100%;
    a.logo{
      padding: 5px;
      span.creci{
        font-size: 12px;
        margin-top: -10px;
        margin-right: 10px;
      }
    }
    .produto-header img{max-height: 140px;}
  }
  footer{
    font-size: 12px;
    .social{
      font-size: 18px;
    }
    img{
      max-height: 18px;
    }
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  header{
    background-size: 100% 100%;
    a.logo{
      padding: 5px;
      span.creci{
        font-size: 8px;
        margin-top: -5px;
        margin-right: 5px;
      }
    }
    .produto-header img{max-height: 65px;}
  }
  footer{
    font-size: 12px;
    .social{
      font-size: 16px;
      margin: 0 auto;
      div#skype{
        margin-bottom: 20px;
      }
      a{
        display:block;
        margin: 5px 0;
        padding: 5px 0;
      }
    }
    img{
      max-height: 16px;
    }
  }
}
