div#SlideShowHome{
  ol.carousel-indicators{
    bottom: -5px;
    li{
      height: 15px;
      width: 15px;
      &.active{
        height: 15px;
        width: 15px;
      }
    }
  }
  div.carousel-inner div.item img{
    margin: 0 auto;
    max-width: 100%;
  }
}