.load-ajax {
  top: 40%;
  left: 49%;
  position: fixed;
  z-index: 5000;
}

.page-header{
  margin: 5px 0;
  h1, .h1, h2, .h2, h3, .h3{
    margin: 5px 0;
  }
}

// Centralizar vertical middle
// Deve usar comentario entre as divs
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

// Arruma tamanho do popover
.popover{
  width: auto !important;
  max-width: none
}

/*Fixa mensagem alert na tela se for celular*/
@media (max-width: 480px){
  #alert{
    z-index: 99;
    position: fixed;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
input.loader{
  background: url('<%= asset_path "icons/loader.gif" %>') no-repeat scroll right #fefefe !important;
}
.panel-heading span.help-block{
  font-size: 12px;
}

.border-top{
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

div.div-striped {
  .nested-fields{
    border-top: 1px solid #ddd;
    padding: 10px 5px 0;
    &:nth-child(odd){
      background-color: #f9f9f9;
    }
  }
}

// Forçar quebrar de linha nos devidos tamanho
@media (min-width : 768px) and (max-width : 991px) {
  .clearfix-sm:before,
  .clearfix-sm:after{
    display: table;
    content: " ";
  }
  .clearfix-sm:after{
    clear: both;
  }
}
@media (min-width : 992px) {
  .clearfix-md:before,
  .clearfix-md:after{
    display: table;
    content: " ";
  }
  .clearfix-md:after{
    clear: both;
  }
}
