<div class="alert fade in alert-<%= type.blank? ? 'info' : type.to_s %>">
  <button data-dismiss="alert" class="close">×</button>
  <%= notice.html_safe %>
</div>

<script type="text/javascript">
  // Remove mensagem alert depois de 3 segundos
  <% if defined?(keep).nil? %>
    setTimeout(function(){deleteSystemNotice()}, 3000);
  <% end %>
</script>

<%# type = [success, info, warning, danger] %>
<%# Padrão é: info %>