
<div id="menubar" class="collapse navbar-collapse menubar" style="background-color: #EDEDED;">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel-group" id="accordion">
                    <div class="panel panel-default" style="margin-bottom: 5px;">
                <%= link_to a_root_path do %>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="glyphicon glyphicon-home">
                                </span>Home
                            </h4>
                        </div>
                <% end %>
                    </div>

                <div class="panel panel-default"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-user">
                            </span>Usuários
                        </h4>
                    </div></a>
                    <div id="collapseTwo" class="panel-collapse collapse <%= (%w(a/usuarios a/contatos).include?(params[:controller])) ? 'in' : '' %>">
                        <div class="panel-body">
                            <table class="table">

                                <% if can? :index, Usuario or can? :create, Usuario %>
                                <tr>
                                    <td class="<%= (%w(a/usuarios).include?(params[:controller])) ? 'active' : '' %>">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <%= link_to "Administradores Backend", a_usuarios_path %>
                                    </td>
                                </tr>
                                <% end %>
                                <tr>
                                    <td class="<%= (%w(facebook ).include?(params[:action])) ? 'active' : '' %>">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <%= link_to "Facebook", a_contatos_facebook_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="<%= (%w(index ).include?(params[:action])) ? 'active' : '' %>">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <%= link_to "Site", a_contatos_path %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default"><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-cog">
                            </span>Configurações
                        </h4>
                    </div></a>
                    <div id="collapseSix" class="panel-collapse collapse <%= (%w(a/configuracoes ).include?(params[:controller])) ? 'in' : '' %>">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td class="<%= (%w(gerais ).include?(params[:action])) ? 'active' : '' %>">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <%= link_to "Geral", a_configuracoes_gerais_path %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                <%= link_to root_path, :target => '_blank' do %>
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-fullscreen">
                            </span>Site - Visualizar
                        </h4>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .menubar .panel-body .table tr > td.active a{
        color: #337AB7;
    }
    .menubar .panel-body .table tr > td.active span{
        color: #337AB7;
    }
    span.badge{
        float: right;
    }

</style>


