<div id="banner" class="banner-home">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="product">               
          <div class="product-img ">
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->

  </div>
</div>
