<% unless @banners.blank? %>
  <div id="SlideShowHome" class="carousel slide" data-ride="carousel">

    <% unless @banners.count == 1 %>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @banners.each_with_index do |banner, index| %>
          <li data-target="#SlideShowHome" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>"></li>
        <% end %>
      </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @banners.each_with_index do |banner, index| %>
        <div class="item <%= 'active' if index.zero? %>">
          <% if banner.link.blank? %>
            <%= image_tag banner.imagem.url(:banner), height: 660, alt: (banner.titulo.blank? ? Settings['CONFIGURACOES.title'] : banner.titulo) %>
          <% else %>
            <%= link_to banner.link do %>
              <%= image_tag banner.imagem.url(:banner), height: 660, alt: (banner.titulo.blank? ? Settings['CONFIGURACOES.title'] : banner.titulo) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% unless @banners.count == 1 %>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#SlideShowHome" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
      <a class="right carousel-control" href="#SlideShowHome" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
    <% end %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("#SlideShowHome").swiperight(function() {
      $("#SlideShowHome").carousel('prev');
    });
    $("#SlideShowHome").swipeleft(function() {
      $("#SlideShowHome").carousel('next');
    });
  });
</script>
