<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">
   <span aria-hidden="true">&times;</span>
   <span class="sr-only">Close</span>
 </button>
 <h4 class="modal-title" id="modal_element_label"><strong>Contato: </strong><%= @contato.id %></h4>
</div>

<div class="modal-body">
  <ul class="list-group">
    <div class="row">
      <div class="col-sm-12">
        <li class="list-group-item">
          <strong>Código: </strong><%= @contato.id %>
        </li>
        <li class="list-group-item">
          <strong>Enviado em: </strong><%= l @contato.created_at, format: :short %>
        </li>
        <li class="list-group-item">
          <strong>Nome: </strong><%= @contato.nome %>
        </li>
        <li class="list-group-item">
          <strong>E-mail: </strong><%= @contato.email %>
        </li>
        <li class="list-group-item">
          <strong>Telefone: </strong><%= @contato.telefone %>
        </li>
        <li class="list-group-item">
          <strong>Celular: </strong><%= @contato.celular %>
        </li>
        <li class="list-group-item">
          <strong>Mensagem: </strong><%= simple_format(@contato.mensagem).html_safe %>
        </li>
        <li class="list-group-item">
          <strong>IP de Origem: </strong><%= @contato.remote_ip %>
        </li>
        <li class="list-group-item">
          <strong>User Agent: </strong><%= @contato.user_agent %>
        </li>
      </div>


    </div>
  </ul>
</div>

<%= javascript_tag do %>
  $(function() {
    $('#modal-element-contato').on('hidden.bs.modal', function (e) {
      $('#contatos_filter_form').submit();
      $(this).removeData('bs.modal');
    });
  });
<% end %>