<div id="SlideShowHome" class="carousel slide" data-ride="carousel">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div id="mycarousel"  class="carousel-inner" role="listbox">
      <div class="item active">
        <div id="product" class="product">               
          <div class="product-img ">
            <%= image_tag "/camada_5_1.png", style: 'height: 100%; width: 100%;', class: 'img-responsive' %>
            <div class="carousel-caption">
              <img src="/produtos.png">
            </div>
            <div class="carousel-description" style="right: 50%;">
              <h1>Dê um up</h1><br>
              <h1>no seu dia!</h1>
            </div>
            <div class="carousel-description" style="left: 55%;">
              <p>
                <strong class="titulo" style="color: #cfc89d;">Cafeteria</strong><br>
                O produto mais popular do <br>
                País chega a Casa da Bruxa, <br>
                afinal chocolate e café são <br>
                uma combinação perfeita e <br>
                não poderiam faltar. Com <br>
                destaque e um enfoque <br>
                bastante comercial baseado <br>
                no sistema "to go" com copos <br>
                e embalagens criativas que <br>
                fazem a diferença no ponto de <br>
                venda e encantam o <br>
                consumidor. <br>
                <br>
                Cafés clássicos se unem a <br>
                opção de um cardápio com <br>
                sabores doces e especiais, que <br>
                são o diferencial da marca.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div id="product" class="product">               
          <div class="product-img ">
            <%= image_tag "/camada_5_2.png", style: 'height: 100%; width: 100%;', class: 'img-responsive' %>
            <div class="carousel-caption">
              <img src="/produtos.png">
            </div>
            <div class="carousel-description" style="right: 50%;">
              <h1>Mais sabor</h1>
              <h1> para o</h1>
              <h1 style="font-size: 80px; color: #ffda17;"> Verão</h1>
            </div>
            <div class="carousel-description" style="left: 55%;">
              <p style="color: black;">
                <strong class="titulo" style="color: white;">Geladinhos <br> Gourmet</strong><br>
                Para os dias quentes uma <br>
                opção deliciosa e também <br>
                muito criativa já conquistou o <br>
                público Casa da Bruxa, que <br>
                adora produtos nostálgicos. <br>
                <br>
                Além do gostinho de infância, <br>
                a seleção de sabores dos <br>
                geladinhos priorizam opções <br>
                clássicas - como Ninho com <br>
                Nutella - e também sabores <br>
                rotativos, que se renovam para <br>
                sempre surpreender o cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div id="product" class="product">               
          <div class="product-img ">
            <%= image_tag "/camada_5_3.png", style: 'height: 100%; width: 100%;', class: 'img-responsive' %>
            <div class="carousel-caption">
              <img src="/produtos.png">
            </div>
            <div class="carousel-description" style="right: 50%;">
              <h1 style="font-size: 50px; color: black;">Explosão de sabor</h1>
              <h1 style="font-size: 50px; color: black;">em formato de</h1>
              <h1 style="color: black;"> <strong> Tabletes </strong></h1>
            </div>
            <div class="carousel-description" style="left: 55%;">
              <p style="color: grey;">
                <strong class="titulo" style="color: #5d392a;">Tabletes</strong><br>
                O produto mais popular do <br>
                País chega a Casa da Bruxa, <br>
                afinal chocolate e café são <br>
                uma combinação perfeita e <br>
                não poderiam faltar. Com <br>
                destaque e um enfoque <br>
                bastante comercial baseado <br>
                no sistema "to go" com copos <br>
                e embalagens criativas que <br>
                fazem a diferença no ponto de <br>
                venda e encantam o <br>
                consumidor. <br>
                <br>
                Cafés clássicos se unem a <br>
                opção de um cardápio com <br>
                sabores doces e especiais, que <br>
                são o diferencial da marca.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div id="product" class="product">               
          <div class="product-img ">
            <%= image_tag "/camada_5_4.png", style: 'height: 100%; width: 100%;', class: 'img-responsive' %>
            <div class="carousel-caption">
              <img src="/produtos.png">
            </div>
            <div class="carousel-description" style="right: 50%;">
              <img src="/grande_sabor.png">
            </div>
            <div class="carousel-description" style="left: 55%;">
              <p>
                <strong class="titulo" style="color: #794cb0;">Mini Trufas</strong><br>
                As mini trufas são ideais para <br>
                acompanhar a hora do <br> 
                cafezinho <br>
                <br>
                Uma dose de açúcar na <br>
                medida certa nos sabores: <br>
                leite condensado, cappuccino, <br>
                brigadeiro, paçoca e doce de <br>
                leite.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div id="product" class="product">               
          <div class="product-img ">
            <%= image_tag "/camada_5_5.png", style: 'height: 100%; width: 100%;', class: 'img-responsive' %>
            <div class="carousel-caption">
              <img src="/produtos.png">
            </div>
            <div class="carousel-description" style="right: 50%;">
              <h1 style="font-size: 50px; color: white;">Deixando</h1>
              <h1 style="font-size: 50px; color: #65ffe5;">Nossa Marca</h1>
            </div>
            <div class="carousel-description" style="left: 55%;">
              <p>
                <strong class="titulo" style="color: #65ffe5;">Presentes</strong><br>
                Criatividade é marca <br>
                registrada da Casa da Bruxa <br>
                por isso desenvolvemos <br>
                inúmeras opções de presentes <br>
                criativos e com excelente <br>
                custo benefício, especialmente <br>
                pensados para o público <br>
                jovem e adulto. <br>
                <br>
                Através de linhas de produtos <br>
                exclusivos e limitados a <br>
                marca, criamos o diferencial <br>
                de nossos produtos <br>
                tornando-os peças únicas, <br>
                aumentando assim a venda <br>
                desta categoria. <br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div id="product" class="product">               
          <div class="product-img ">
            <%= image_tag "/camada_5_6.png", style: 'height: 100%; width: 100%;', class: 'img-responsive' %>
            <div class="carousel-caption">
              <img src="/produtos.png">
            </div>
            <div class="carousel-description" style="right: 50%;">
              <h1 style="font-size: 50px; color: #e4289d;">O sabor que</h1>
              <h1 style="font-size: 50px; color: #e4289d;">Encanta</h1>
            </div>
            <div class="carousel-description" style="left: 55%;">
              <p style="color: black;">
                <strong class="titulo" style="color: #e4289d;">Balas</strong><br>
                Dentro do universo lúdico <br>
                da Casa da Bruxa as balas <br>
                trazem todo o encanto e <br>
                magia em suas embalagens <br>
                super criativas em formatos <br>
                diversos e sabor sem igual, <br>
                estando entre os produtos <br>
                mais vendidos da rede. <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#SlideShowHome" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
    <a class="right carousel-control" href="#SlideShowHome" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

  </div>
</div>

