<% content_for(:title, "#{Settings['CONFIGURACOES.title']}") %>

<div id="home">

	<div id="topo">
		<div class="container">
			<div class="conteudo">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="faixa_branca" style="">
						<h1 style="padding-top: 30px;">Quer saber mais</h1>
						<h1 style="">sobre uma franquia </h1>
						<h1 style="padding-bottom: 30px;">de sucesso?</h1>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div id="barra_rosa">
		<img src="/barra-rosa.png">
	</div>
	<div id="final">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
						<h1 class="form text-left" style="padding-bottom: 20px;"><%= "Cadastre-se <br /> e saiba mais!".html_safe %></h1>
					<div id="formulario_contato" class="formulario">
						  <%= render partial: '/contatos/contato' %>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h1 class="titulo " style=""><%= "Contato".html_safe %></h1>
					<h4 class=""><%= "#{Settings['CONTATO.email']}" %></h4>
					<h4 class=""><%= "#{Settings['CONTATO.telefone']}" %></h4>
				</div>
			</div>
		</div>
	</div>
	<div id="rodape">
		<img src="/logo.png" id="logo_rodape">
	</div>

</div>



<script type="text/javascript">
	
$("#bt-home").click(function() {
    $('html, body').animate({
        scrollTop: $("#home").offset().top-100
    }, 1500);
});
$("#bt-historia").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_1").offset().top-100
    }, 1500);
});
$("#bt-publico_alvo").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_2").offset().top-100
    }, 1500);
});
$("#bt-mercado").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_3").offset().top-100
    }, 1500);
});
$("#bt-onde_estamos").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_4").offset().top-100
    }, 1500);
});
$("#bt-nossos_produtos").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_5").offset().top-100
    }, 1500);
});
$("#bt-modelo_loja").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_6").offset().top-100
    }, 1500);
});
$("#bt-contato").click(function() {
    $('html, body').animate({
        scrollTop: $("#final").offset().top-100
    }, 1500);
});
$("#logo_rodape").click(function() {
    $('html, body').animate({
        scrollTop: $("#home").offset().top-100
    }, 1500);
});
	

</script>