===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />

<h2>Bom dia!</h2>

<p>Segue contato enviado pelo site <b><%= Settings['CONFIGURACOES.title'].html_safe %></b>.</p>

<table>
  <tr>
    <td>Código: </td>
    <td><%= @contato.codigo_to_s %></td>
  </tr>
  <tr>
    <td>Data de Envio: </td>
    <td><%= l @contato.created_at, format: :short %></td>
  </tr>
  <tr>
    <td>Nome: </td>
    <td><%= @contato.nome_completo %></td>
  </tr>
  <tr>
    <td>E-mail: </td>
    <td><%= @contato.email %></td>
  </tr>
  <tr>
  <tr>
    <td>CPF: </td>
    <td><%= @contato.cpf_to_s %></td>
  </tr>
  <tr>
  <tr>
    <td>RG: </td>
    <td><%= @contato.rg %></td>
  </tr>
  <tr>
    <td>Data de Nascimento: </td>
    <td>
      <% unless @contato.data_nascimento.blank? %>
        <%= l @contato.data_nascimento, format: :default %>
        <%= " - #{@contato.calcular_idade} anos" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Nacionalidade: </td>
    <td><%= @contato.nacionalidade %></td>
  </tr>
  <tr>
    <td>Telefone: </td>
    <td><%= @contato.telefone %></td>
  </tr>
  <tr>
    <td>Celular: </td>
    <td><%= @contato.celular %></td>
  </tr>
  <tr>
    <td>Profissão: </td>
    <td><%= @contato.profissao %></td>
  </tr>
  <tr>
    <td>Renda: </td>
    <td><%= @contato.renda_to_s %></td>
  </tr>
  <tr>
    <td>Endereço: </td>
    <td><%= @contato.endereco.nome_completo unless @contato.endereco.blank? %></td>
  </tr>
  <tr>
    <td>Estado Civil: </td>
    <td><%= @contato.estado_civil %></td>
  </tr>
  <tr>
    <td>Imóvel ou Assunto: </td>
    <td><%= @contato.produto_assunto_to_s %></td>
  </tr>

<br />
===================<br />
  <tr>
    <td>Mensagem: </td>
    <td><%= simple_format(@contato.mensagem).html_safe %></td>
  </tr>
  <tr>
    <td>IP de Origem: </td>
    <td><%= @contato.remote_ip %></td>
  </tr>
  <tr>
    <td>User Agent: </td>
    <td><%= @contato.user_agent %></td>
  </tr>
</table>

<br />
===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />
