<%= simple_form_for [:a, @usuario] do |f| %>

  <%= render '/template/form_error', object: @usuario %>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :nome, label: t('usuarios.nome') %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :email, label: t('usuarios.email') %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <%= f.input :password, label: t('usuarios.password') %>
    </div>
    <div class="col-sm-2 col-xs-12">
      <%= f.input :password_confirmation, label: t('usuarios.password_confirmation') %>
    </div>
    <div class="col-sm-2 col-xs-12">
      <%= f.input :telefone, label: t('usuarios.telefone'), input_html: {onkeypress: "mascara(this, checaTelefone)", maxlength: 15} %>
    </div>
    <div class="col-sm-2 col-xs-12">
      <%= f.input :celular, label: t('usuarios.celular'), input_html: {onkeypress: "mascara(this, checaTelefone)", maxlength: 15} %>
    </div>
    <div class="col-sm-2 col-xs-12">
      <%= f.input :ativo, label: t('usuarios.ativo'), collection: [[t('simple_form.yes'), true], [t('simple_form.no'), false]], include_blank: false %>
    </div>
    <div class="col-sm-2 col-xs-12">
      <%= f.input :super_admin, label: "Admin", collection: [[t('simple_form.yes'), true], [t('simple_form.no'), false]], include_blank: false %>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="form-group">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")), a_usuarios_path, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

<% end %>
