<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('usuarios.nome') %></th>
        <th><%= t('usuarios.telefone') %></th>
        <th><%= t('usuarios.celular') %></th>
        <th><%= t('usuarios.email') %></th>
        <th><%= t('usuarios.log_data') %></th>
        <th><%=t '.actions', default: t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td>
            <% if can? :show, usuario %>
              <%= link_to "#{glyph('search', {tag: :i})} #{usuario.nome}".html_safe, [:a, usuario], data: { toggle: 'modal', target: '#modal-element' } %>
            <% else %>
              <%= usuario.nome %>
            <% end %>
          </td>
          <td><%= usuario.telefone %></td>
          <td><%= usuario.celular %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.ultimo_login %></td>
          <td>
            <% if can? :edit, usuario %>
              <%= link_to "#{glyph('pencil', {tag: :i})} ".html_safe + t('helpers.links.edit'),
                          edit_a_usuario_path(usuario),
                          class: 'btn btn-default btn-xs' %>
            <% end %>
            <% if can? :destroy, usuario %>
              <% if usuario.ativo? %>
                <%= link_to "#{glyph('remove', {tag: :i})} ".html_safe + t('helpers.links.desativar'),
                            a_usuario_path(usuario),
                            method: :delete,
                            data: { confirm: t('helpers.links.confirm') },
                            class: 'btn btn-xs btn-danger' %>
              <% else %>
                <%= link_to "#{glyph('ok', {tag: :i})} ".html_safe + t('helpers.links.ativar'),
                            a_usuario_path(usuario),
                            method: :delete,
                            data: { confirm: t('helpers.links.confirm') },
                            class: 'btn btn-xs btn-success' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="8"><%= pagination_footer @usuarios %></td>
      </tr>

    </tbody>
  </table>

</div>
