<% content_for(:title, t('helpers.titles.edit', model: t('usuarios.usuario'))) %>

<div class="page-header">
  <h3><%= t('helpers.titles.edit', model: t('usuarios.usuario')) %> # <%= @usuario.id %></h3>
</div>
<%= render partial: 'form' %>