<% if @usuario.errors.any? %>
  $("#form_error").html("<%= j( render '/template/form_error', object: @usuario )%>");
<% else %>
  $("#modal-element").modal("hide");
  <% unless @system_notice.blank? %>
    $('#alert').html("<%= j( render '/template/alert', notice: @system_notice, type: @type )%>");
  <% end %>
<% end %>