<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" xml:lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= display_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= image_path('favicon.ico') %>" />
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="modal fade" id="modal-element" tabindex="-1" role="dialog" aria-labelledby="modal-element-label" aria-hidden="true">
      <div class="modal-dialog" id="modal-element-dialog">
        <div class="modal-content" id="modal-element-content"></div>
      </div>
    </div>
    
<%= render 'template/menu' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-12">
      <% unless current_a_usuario.blank? %>
        <div id="menu">
          <%= render 'template/menubar' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-10 col-xs-12">
        <div id="alert">
          <%= bootstrap_flash %>
        </div>
        <div class="load-ajax">
          <%= image_tag 'loader.gif' %>
        </div>

        <%= yield %>
    </div>
  </div>
</div>

  </body>
</html>
